:root {
    --primary-color: black;
    --secondary-color: #141922;
    --secondary-color-dark: #080B12;
    --third-color: #282828;
    --selection-highlight: #ADFF2F;
    --secondary-text: #7A7D81;
    color: white;
    font-size: 1vw;
}


a {
    text-decoration: none;
    color: white;
    line-height: 100%;
}

#wrapper {
    display: grid;
    grid-template-areas: 
    'nav main main main main main main main '
    'footer footer footer footer footer footer footer footer';
}


/* sidebar */

nav {
    grid-area: nav;background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px);
    width: 15vw;
    font-size: .8rem;
}


.nav-content-wrapper {
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav-content-wrapper::-webkit-scrollbar {
    display: none;
}

.nav-content {
    width: 80%;
    padding: 1em;
}

.nav-content i {
   font-size: 2em;
   margin-right: .5em;
}

.nav-content.bottom i {
    font-size: 1.5em;
}

.nav-content span {
   font-size: 2em;
   margin-right: .2em;
   color: black;
   background-color: var(--secondary-text);
   display: inline-block;
   width: 1em;
   height: 1em;
   text-align: center;
   font-weight: bolder;
}
.nav-content p {
    padding: .3em 1em;
    color: var(--secondary-text);
    line-height: 220%;
}

.nav-content h4 {
    padding: 1rem 0;
}

.nav-content:hover {
    cursor: pointer;
} 

.nav-content p:hover {
    color: white;
    border-left: 1px solid var(--selection-highlight);
    
    
}

.nav-content.bottom {
    margin-top: auto;
    margin-bottom: 0;
    padding-bottom: 0;
}

.nav-content.bottom p:hover {
    border: none;
}

#account-name {
    color: white;
}
/* Main */

main {
    grid-area: main;
    background-color: var(--secondary-color);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: calc(100vh - 90px);
}

main::-webkit-scrollbar {
    display: none;
}

.call-to-action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
}

.call-to-action > .button {
 border: 1px solid white;
 border-radius: 30px;
 padding: 1rem 2rem;
 margin: 1rem;
 font-weight: bolder;
}
.call-to-action > .button:hover {
 scale: 110%;
}

.submenù-item {
    padding: 1em;
}
.submenù-item a {
    font-size: .8rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--secondary-text);
}

.submenù-item:hover a {
    color: white;
}

.greenline {
    width: 40%;
    height: 2px;
    margin: auto;
    background-color: var(--selection-highlight);
}

/* album section */

.albums > h2,
.albums > p {
 margin: 2rem 1rem;
}

.albums > p {
    font-size: .8rem;
    color: var(--secondary-text);
}

.album-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.album-wrapper.made-for-you, .popular {
    justify-content: flex-start;
}
.album-card {
    width: calc(100% / 6 - 2rem);
    margin: 1rem;
    font-size: .7em;
}

.album-card figure {
    position: relative;
}

.album-card i {
    position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 4vw;
        display: none;
}
.album-card:hover {
    cursor: pointer;
}
.album-card:hover img {
    filter: brightness(70%);
}

.album-card:hover i {
 display: block;
}

.album-card h4 {
   margin: 1em; 
}
.album-card p {
    color: var(--secondary-text);
    text-align: center;
}

.popular .album-card img {
    border-radius: 50%;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}

/* Player */

footer {
    grid-area: footer;
    height: 90px;
}